body {
    align-items: center;
    display: flex;
    justify-content: center;
    top: 5px;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container .footer {
    width: 100%;
}

.popup-button.primary {
    box-shadow: none;
    background: #1165f1;
    color: #fff;
    padding: 11px;
    margin: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.popup-button.secondary {
    box-shadow: none;
    background: #cccaca;
    color: #000000;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}


#pushnotification img {
    width: 70%;
    margin: auto;
}

.card {
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    border-radius: 30px;
    background: #fff;

}

.card-body {
    background: #fff;
}

.card-footer {
    background: #fff;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    color: black;
}

.card-header {
    border-radius: 30px !important;
    border: 0px;
    background: #fff;
}

.card-header img {
    border-radius: 30px;

}